<html>
    <head>
        <title>Hello Page</title>
    </head>
    <body>
        <h1 style="color:red">Hello, {{ name }}!</h1>
        <p>
            This launches a very simple builtin server, which is good enough for testing but probably not what you want to use in production. For deployment options see Deployment Options.        
        </p>
        <p>
            If you run the server you will notice that the server is only accessible from your own computer, not from any other in the network. This is the default because in debugging mode a user of the application can execute arbitrary Python code on your computer.
        </p>
    </body>
</html>
